* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.finance-container {
  padding-top: 90px;
  @media screen and (min-width: 1024px) {
    padding-top: 0;
    width: 80%;
    margin-left: 20%;
  }
  .pink-container {
    padding: 5.5rem 1.5rem 1.5rem;
    background-color: #e5e5e5;

    .pink-box {
      padding: 1rem;
      border-radius: 1rem;
      background-color: #e2698d;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;

      @media screen and (min-width: 1024px) {
        position: relative;
      }

      .semi-arc {
        display: none;

        @media screen and (min-width: 1024px) {
          display: block;
          left: 20%;
          top: 0;

          position: absolute;
          img {
            width: 100%;
          }
        }
        @media screen and (min-width: 1200px) {
          left: 30%;
        }
      }

      .small-arc {
        display: none;

        @media screen and (min-width: 1024px) {
          display: block;
          left: 0.05%;
          bottom: -1.5%;
          position: absolute;

          img {
            width: 100%;
          }
        }

        @media screen and (min-width: 1200px) {
          left: 0;
          bottom: -2%;
        }
      }

      .faint-arc {
        display: none;

        @media screen and (min-width: 1024px) {
          display: block;
          right: 30%;
          bottom: -1.5%;

          position: absolute;
          img {
            width: 100%;
          }
        }

        @media screen and (min-width: 1200px) {
          right: 20%;
        }
      }

      @media screen and (min-width: 760px) {
        flex-direction: row;
        justify-content: center;
      }

      .financial-details {
        position: relative;
        z-index: 2;
        padding: 1rem 0;
        @media screen and (min-width: 760px) {
          padding: 1.5rem;
        }

        @media screen and (min-width: 1024px) {
          padding: 2rem;

          &:last-child {
            padding: 0 0 0.8rem 0;
          }
        }

        @media screen and (min-width: 1076px) {
          padding: 2rem 0.5rem;

          &:last-child {
            padding: 2rem 0.5rem;
          }
        }

        @media screen and (min-width: 1200px) {
          padding: 2.2rem 1.5rem;

          &:last-child {
            padding: 2.2rem 1.5rem;
          }
        }

        p,
        h2 {
          padding: 0.5rem;
          color: #fff;
        }
        h2 {
          font-size: 1rem;
          @media screen and (min-width: 1024px) {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
